[submodule "openvdb"]
	path = openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb
	branch = master
[submodule "GLFW"]
	path = GLFW
	url = https://github.com/glfw/glfw
	branch = master
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
